<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <header>
        <h2>Reset pin</h2>
    </header>
    <section style="display: flex; flex-direction: column;">
        <div style="display: flex; flex-direction: row;">
            <strong>Email</strong>
            <p>{{ email }}</p>
        </div>
        <div style="display: flex; flex-direction: row;">
            <strong>Reset url</strong>
            <a href="#">{{ url }}</a>
        </div>
    </section>
</body>
</html>