@import url('./variables.css');
@import url('./dashboard-charts.css');
/* Admin login */
.admin-login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: var(--primary-text-color) !important;
  transition: background-color 9999s ease-in-out 0s;
}

.admin-login form {
  width: 40%;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--off-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 1rem;
}

@media screen and (max-width: 724px){
  .admin-login form div div[class="floating-label"]{
    width: 85%;
  }

  .admin-login form button[class="btn-primary"]{
    width: 92%;
  }

  .admin-login form{
    width: 70%;
  }
}

.admin-login form h2{
  text-align: center;
  font-size: 1.7rem;
}

.admin-login form .form-header{
  margin-bottom: 2rem;
}

.admin-login form div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.admin-login form div div {
  width: 60%;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.5rem;
}

.admin-login form div div label {
  color: var(--primary-text-color);
  font-family: var(--paragraph-font);
  font-size: var(--sm-paragraph);
  position: absolute;
  left: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.admin-login form div div .icon{
  position: absolute;
  right: 0.5rem;
  color: var(--secondary);
  cursor: pointer;
}

.admin-login form div div input {
  width: 100%;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  font-size: 1rem;
  background: transparent;
  border: 1px solid white;
  color: var(--primary-text-color);
  border-radius: 4px;
  outline: none;
}

.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown):not(:focus) + label{
  top: -0.6rem;
  left: 0.4rem;
  font-size: 0.85rem;
  color: rgba(255, 255, 255, 0.445);
  background: var(--off-color);
  transition: all 0.3s ease-in-out;
}

.admin-login form button {
  width: 64%;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: white;
  color: var(--off-color);
  font-family: var(--paragraph-font);
  font-size: var(--sm-paragraph);
  cursor: pointer;
}

.admin-login form button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: var(--off-color);
  transition: all 0.3s ease-in-out;
}

/* Dashboard */
.dashboard-view {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 3rem;
  padding-top: 5rem;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  color: white;
}

.dashboard-view h1 {
  width: 85%;
  text-align: center;
  padding-left: 15%;
}

.dashboard-view .dashboard-content {
  width: 100%;
  margin-top: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6rem;
}

.activities-container{
  width: 85%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.metrics-container {
  width: 81%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 2%;
  gap: 2rem;
  background-color: var(--off-color);
  border-radius: 10px;
}

.metrics-container header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 2px solid var(--secondary);
}

.metrics-container header span {
  color: var(--secondary);
}

.metrics-container .metrics-charts {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 780px){
  .dashboard-view h1{
    padding: 0;
  }

  .dashboard-view{
    padding: 0;
    padding-top: 3.5rem;
  }

  .metrics-container .metrics-charts{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .dashboard-view .dashboard-content{
    align-items: center;
    gap: 3rem;
  }
}

/* Projects view */
.all-projects-view {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 3rem;
  padding-top: 5rem;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 3rem;
}

.all-projects-view header{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.all-projects-view .all-projects-controlls{
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 2rem;
}

.all-projects-view button{
  cursor: pointer;
}

.all-projects-controlls .new-project-btn{
  padding: 5px 7px;
  background-color: var(--secondary);
  border: 0;
  border-radius: 5px;
  color: white;
}

.all-projects-controlls .new-project-btn:hover{
  opacity: 0.8;
}

.all-projects-controlls> button{
  background-color: transparent;
  border: 0;
  color: var(--secondary);
}

.all-projects-controlls> button:hover{
  color: white;
}

.all-projects-view .projects-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 780px){
  .all-projects-view header{
    width: 100%;
  }

  .all-projects-view .all-projects-controlls{
    width: 90%;
  }
}

/* Featured projects */
.projects-view{
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding: 3rem;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 3rem;
}

.projects-view header{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projects-view .projects-container{
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  gap: 1rem;
}

@media screen and (max-width: 628px){
  .projects-view .projects-container{
    gap: 3.5rem;
  }
}

/* Project details */
.project-details-container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 780px){
  .project-details-container{
    width: calc(100% - 2rem);
    padding: 1rem;
    padding-top: 1.5rem;
  }
}

/* Task manager */
.task-manager{
  display: flex;
  flex-direction: row;
}

.client-task-manager{
  display: flex;
  flex-direction: row;
  justify-content: end;
}

@media screen and (max-width: 780px){
  .client-task-manager{
    padding-top: 2rem;
  }
}

/* Client view */
.client-view{
  width: 85%;
  margin-left: 12%;
  margin-top: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.client-view .client-controls{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.client-view .client-controls input{
  width: 30%;
  margin-top: 2rem;
  border: 1px solid var(--secondary);
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
  color: white;
  outline: 0;
}

.client-view .client-controls button{
  margin-top: 2rem;
  padding: 5px;
  background-color: var(--secondary);
  border: 0;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.client-view .client-controls button:hover{
  opacity: 0.8;
}

.client-view .client-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media screen and (max-width: 780px) {
  .client-view{
    width: 100vw;
    margin-left: 0;
    margin-top: 5%;
  }

  .client-controls button{
    display: none;
  }
}

/* Client details */
.client-details-view{
  padding: 2rem;
  width: calc(100vw - 4rem);
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logged-client-details-view{
  padding: 2rem;
  width: calc(100vw - 4rem);
  min-height: calc(100vh - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-details, .client-files{
  width: 45%;
}

@media screen and (max-width: 780px){
  .client-details-view{
    flex-direction: column;
    gap: 1rem;
  }

  .client-details{
    width: calc(100% - 2rem);
  }

  .client-files{
    width: 100%;
  }

  .logged-client-details-view{
    padding: 0;
    padding-top: 3rem;
    width: calc(100vw - 2rem);
  }
}

/* Client files */
.file-view-control{
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.file-view-control button{
  padding: 5px 1rem;
  background-color: var(--secondary);
  border: 0;
  border-radius: 5px;
  outline: 0;
  color: white;
  cursor: pointer;
}

.file-view-control input{
  border: 1px solid var(--secondary);
  border-radius: 5px;
  padding: 5px;
  background-color: transparent;
  outline: 0;
  color: white;
}

.file-view-control span{
  font-family: var(--header-font);
  color: white;
  font-size: 0.9rem;
  border-bottom: 1px solid white;
  padding: 0;
  margin: 0;
}

.file-tables{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (max-width: 780px){
  .file-view-control button{
    display: none;
  }
}

/* Admin view */
.admin-view{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Client login view */
.client-login-view{
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.password-reset-link{
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--secondary);
  text-decoration: underline;
  font-family: var(--paragraph-font);
}

.password-reset-link svg{
  width: 40px;
  height: 15px;
}

@media screen and (max-width: 425px){
  .password-reset-link{
    width: 80%;
  }
}

@media screen and (max-width: 780px) and (min-width: 426px){
  .password-reset-link{
    width: 70%;
  }
}

/* Verify email view */
.verify-email-view{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}